<head>
    <title>Trackmania 2022 Friends Leaderboard</title>
    <script src="https://kit.fontawesome.com/6551ffba13.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/all.css">
    <script src="/public/js/anime.min.js"></script>
    <script src="/public/js/all.js"></script>
</head>

<body>
    <div class="loader"><i class="fa-solid fa-gear"></i></div>
    <div class="main">
        <h1>Global Leaderboard</h1>
        <div class="leaderboard-entries" id="global-leaderboard" style="height: auto !important; width: 400px;"></div>
        <h1>Current campaign maps</h1>
    </div>
    <div class="blurer" style="opacity: 0; display: none;"></div>
    <div class="fixed-leaderboard" style="opacity: 0; display: 0;">
        <a href="#" class="close-leaderboard">&times;</a>
        <div class="banner">
            <div class="image" style="background: url(https://prod.trackmania.core.nadeo.online/storageObjects/bc2db8db-7547-4e0d-9195-009619c7f7ee.jpg);"></div>
            <span>Winter 2022 - 1</span>
        </div>
        <br>
        <div class="leaderboard-entries">
        </div>
    </div>
</body>